params {
    setup_only = false
    fastq_dir = './fastq_pass'
    extension = '.fastq.gz'
    concat_reads = true
    cpus = -1
    coverage_filter = false
    medaka_polish = 'false'
    coverage = 50
    genome_size = 6
    out_dir = 'bactflow_out'
    tensor_batch = 200
    nanofilter = false
    min_length = 1000
    min_quality = 16
    basecaller_model = 'r1041_e82_400bps_hac_v4.2.0'
    genome_extension = 'fasta'
    run_flye = true
    circle_genome = false
    run_unicycler = false
    run_megahit = false
    run_spades = false
    tax_class = false
    prok_annot = false
    run_checkm = false
    checkm_db = ''
    gtdbtk_data_path = ''
    run_quast = true
    genome_dir = ''

}
// only if you wanna run with a conda env already set up 
profiles {
    conda {
        enabled = true
        createOptions = true
        useMamba = true
        
    }
}