

params {
    fastq_dir = './fastq_pass'
    extension = '.fastq.gz'
    concat_reads = true
    cpus = -1
    coverage_filter = true
    medaka_polish = 'true'
    coverage = 50
    genome_size = 6
    out_dir = 'bactflow_out'
    tensor_batch = 200
    nanofilter = true
    min_length = 1000
    min_quality = 16
    basecaller_model = 'r1041_e82_400bps_hac_v4.2.0'
    genome_extension = 'fasta'
    run_flye = true
    run_unicycler = false
    run_megahit = false
    run_spades = false
    tax_class = true
    checkm_lineag_check = false
    prok_annot = false
    run_checkm = false
    checkm_db = ''
    gtdbtk_data_path = ''
    run_quast = true
    genome_dir = ''

}

profiles {
    conda {
        conda.enabled = true
        process.conda = "$baseDir/config.yml"
        conda.createOptions = true
        conda.useMamba = true
        process {
            withName: nano_read_filt {

                conda = "$baseDir/config.yml"
                

            }
            withName: coverage_filt {

                conda = "$baseDir/config.yml"
                

            }
            withName: assembly_flye1 {

                conda = "$baseDir/config.yml"

            }

            withName: assembly_flye2 {

                conda = "$baseDir/config.yml"

            }
            
            withName: taxonomyGTDBTK {
                conda = "$baseDir/config.yml"
            }

            withName: checkm_lineage {
                conda = "$baseDir/config.yml"
                
            }
            withName: quast_check {
                conda = "$baseDir/config.yml"
            }
        }
}
}

