

params {
    fastq_dir = './fastq_pass'
    extension = '.fastq.gz'
    cpus = -1
    coverage_filter = true
    coverage = 50
    genome_size = 6
    out_dir = "genebrosh_output"
    tensor_batch = 200
    nanofilter = true
    min_length = 1000
    min_quality = 16
    basecaller_model = 'r1041_e82_400bps_hac_v4.2.0'
    genome_extension = 'fasta'
    run_flye = true
    run_unicycler = false
    run_megahit = false
    run_spades = false
    tax_class = true
    checkm_lineag_check = false
    prok_annot = false
    checkm_db = '/home/projects/cu_10168/people/farpan/database/checkm_db/'
    gtdbtk_data_path = '/home/projects/cu_10168/people/farpan/database/release220/'

}

profiles {
    conda {
        conda.enabled = true
        process.conda = "/home/projects/cu_10168/people/farpan/miniforge3/envs/ont_helper"
 //       process.conda = "$baseDir/config.yml"
        conda.createOptions = true
        conda.useMamba = true
        process {
            withName: nano_read_filt {

                conda = "/home/projects/cu_10168/people/farpan/miniforge3/envs/ont_helper"
                

            }
            withName: coverage_filt {

                conda = "/home/projects/cu_10168/people/farpan/miniforge3/envs/ont_helper"
                

            }
            withName: assembly_flye1 {

                conda = "/home/projects/cu_10168/people/farpan/miniforge3/envs/ont_helper"
                //conda = "$baseDir/config.yml"

            }

            withName: assembly_flye2 {

                conda = "/home/projects/cu_10168/people/farpan/miniforge3/envs/ont_helper"
                //conda = "$baseDir/config.yml"

            }
            
            withName: taxonomyGTDBTK {
                conda = "/home/projects/cu_10168/people/farpan/miniforge3/envs/ont_helper"
               // environment = [
                    
                //    GTDBTK_DATA_PATH: "${params.gtdbtk_data_path}" // must be updated accordingly
                //]
            }

            withName: checkm_lineage {
                conda = "/home/projects/cu_10168/people/farpan/miniforge3/envs/ont_helper"
                
            }
        }
}
}

