{% extends 'base.html' %}

<!-- title bloc -->
{% block title %} Assembly  {% endblock %}

{% block content %}

<header style="color: rgb(255, 255, 255); background-color: rgb(66, 202, 229); padding: 5px; height: 100px; display: flex; justify-content: space-between; align-items: center;">
  <div style="margin-left: 5px;">
    <h1><a class="navbar-brand" href="https://github.com/farhadm1990/bactflow" target="_blank">BactFlow: Assembly</a>  </h1>
  </div>
  <div style="display: flex; justify-content: space-between;">
    <!-- <form class="d-flex" role="search" style=" display: flex; justify-content: center; align-items: center;">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> -->
    
    <a href="/"><img src="{{ url_for('static', filename = 'images/logo.png') }}" alt="BactFlow" style="width: 100px; height: 100px;"></a>
  </div>
 
</header>

<form id="runForm">


<div class="container-fluid mt-3">
  <div class="row">


    <!-- Input Options Div -->

    <div class="col-md-4" style="height: 100vh; position: relative; border-right: 1px solid #ddd; width: 30%;">
      <h4 class="text-center mb-4">BactFlow Configuration</h4>
     

      <div style="height: calc(100% - 70px); overflow-y: auto; padding-right: 10px; margin-bottom: 10px; padding-bottom: 80px;">
      
        

        <!-- Raw Read Parameters -->
        <div class="card mb-3">
          <div class="card-header bg-primary text-white">
            <h6 class="mb-0">Raw Read Parameters</h6>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="setup_only" class="form-label">Only install BactFlow and exit! <strong>(First-time run)</strong></label>
              <select class="form-select" id="setup_only" name="setup_only" >
                <option value="true" selected>True</option>
                <option value="false" >False</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="fastq_dir" class="form-label">FASTQ Directory</label>
              <div class="input-group">
                <input
                type="text"
                class="form-control"
                id="filePicker"
                name="fastq_dir"
                placeholder="./"
                webkitdirectory
                directory
                />
             
              </div>
            </div>
            <div class="mb-3">
              <label for="concat_reads" class="form-label">Concat Reads</label>
              <select class="form-select" id="concat_reads" name="concat_reads">
                <option value="true" selected>True</option>
                <option value="false">False</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="extension" class="form-label">Extension</label>
              <input type="text" class="form-control" id="extension" name="extension" placeholder=".fastq.gz" />
            </div>
            <hr>
            <div class="mb-3">
              <label for="cpus" class="form-label">CPUs</label>
              <input type="number" class="form-control" id="cpus" name="cpus" placeholder="1"  value="1"/>
            </div>
            <div class="mb-3">
              <label for="gpus" class="form-label">GPUs: only if applicatble</label>
              <input type="number" class="form-control" id="gpus" name="gpus" placeholder="0" />
            </div>
            <div class="mb-3">
              <label for="out_dir" class="form-label">Output Directory</label>
              <input type="text" class="form-control" id="out_dir" name="out_dir" placeholder="bactflow_out" value="./bactflow_out"/>
            </div>
          </div>
        </div>

        <!-- Assembly Parameters -->
        <div class="card mb-3">
          <div class="card-header bg-success text-white">
            <h6 class="mb-0">Assembly Parameters</h6>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="coverage_filter" class="form-label">Coverage Filter</label>
              <select class="form-select" id="coverage_filter" name="coverage_filter">
                <option value="true">True</option>
                <option value="false" selected>False</option>
              </select>
            </div>
            <div id="covDiv" style="display: none;">
              <div class="mb-3">
                <label for="coverage" class="form-label">Coverage</label>
                <input type="number" class="form-control" id="coverage" name="coverage" placeholder="40" />
              </div>
              <div class="mb-3">
                <label for="genome_size" class="form-label">Genome Size</label>
                <input type="number" class="form-control" id="genome_size" name="genome_size" placeholder="6" step="0.1"/>
              </div>
            </div>
          

            <div class="mb-3">
              <label for="nanofilter" class="form-label">Quality and length filter</label>
              <select class="form-select" id="nanofilter" name="nanofilter">
                <option value="true">True</option>
                <option value="false" selected> False</option>
              </select>
            </div>
            <div id="qualDiv" style="display: none;">
              <div class="mb-3">
                <label for="min_quality" class="form-label">Average read quality</label>
                <input type="number" class="form-control" id="quality" name="min_quality" placeholder="16" />
              </div>
              <div class="mb-3">
                <label for="min_length" class="form-label">Minimum read length</label>
                <input type="number" class="form-control" id="readLen" name="min_length" placeholder="1000" />
              </div>
            </div>
            <hr>
            <div class="mb-3">
              <label for="assemblerDropdown" class="form-label">Select Assembler</label>
              <select class="form-select" id="assemblerDropdown" name="assemblerDropdown">
                <option value="none" selected>NONE</option>
                <option value="flye">Flye</option>
                <option value="unicycler">Unicycler</option>
                <option value="megahit">MegaHit</option>
                <option value="spades">SPAdes</option>
              </select>
            </div>
            
            <!-- Hidden input fields for  assemlbers -->
            <input type="hidden" id="run_flye" name="run_flye" value="false">
            <input type="hidden" id="run_unicycler" name="run_unicycler" value="false">
            <input type="hidden" id="run_megahit" name="run_megahit" value="false">
            <input type="hidden" id="run_spades" name="run_spades" value="false">
            <br>
            <div class="mb-3">
              <label for="circle_genome" class="form-label">Fix start point of your genome? <strong>(Circulate)</strong></label>
              <select class="form-select" id="circle_genome" name="circle_genome">
                <option value="true" selected>True</option>
                <option value="false">False</option>
              </select>
            </div>
            <hr>
            <div class="mb-3">
              <label for="medaka_polish" class="form-label">Polish with <strong>Medaka?</strong></label>
              <select class="form-select" id="medaka_polish" name="medaka_polish">
                <option value="true">True</option>
                <option value="false" selected>False</option>
              </select>
            </div>
            
           
            <div class="mb-3" style="display: none; margin-top: 2px;" id="medakaModel">
              <label for="medaka_model" class="form-label">Enter basecaller model</label>
              <input  type="text" class="form-control" id="medaka_model" placeholder="r1041_e82_400bps_hac_v4.2.0" name="basecaller_model" value="r1041_e82_400bps_hac_v4.2.0"/> 
            </div>

            <div class="mb-3" id="tesnDiv">
              <label for="tensor_batch" class="form-label">Tensor Batch</label>
              <input type="number" class="form-control" id="tensor_batch" name="tensor_batch" placeholder="200" />
            </div>
          </div>
        </div>
        <hr>
       

        <!-- Post Assembly Parameters -->
        <div class="card mb-3">
          <div class="card-header bg-warning text-white">
            <h6 class="mb-0">Post-Assembly Parameters</h6>
          </div>
          <div class="card-body">
            
            <label for="genome_dir" class="form-label">Directory to genomes <strong>(.FASTA)</strong></label>
              <div class="input-group">
                <input
                type="text"
                class="form-control"
                id="filePicker"
                name="genome_dir"
                placeholder="genome_dir"
                webkitdirectory
                directory/>
             
              </div>
             
              <hr>
              <br>
            <div class="mb-3">
              <label for="run_quast" class="form-label">Run Quast</label>
              <select class="form-select" id="run_quast" name="run_quast">
                <option value="true" >True</option>
                <option value="false" selected>False</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="prok_annot" class="form-label">Genome annotation? <strong>(Prokka)</strong></label>
              <select class="form-select" id="prok_annot" name="prok_annot">
                <option value="true" >True</option>
                <option value="false" selected>False</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="bakta_annot" class="form-label">Genome annotation? <strong>(Bakta)</strong></label>
              <select class="form-select" id="bakta_annot" name="bakta_annot">
                <option value="true" >True</option>
                <option value="false" selected>False</option>
              </select>
            </div>

            <div class="mb-3" id="bakta_dbDiv">
              <label for="bakta_data_path" class="form-label">Database directory for BAKTA</label>
              <div class="input-group">
                <input
                type="text"
                class="form-control"
                id="filePicker"
                name="bakta_data_path"
                placeholder="plsdb"
                webkitdirectory
                directory
                />
             
              </div>

            <div class="mb-3">
              <label for="tax_class" class="form-label">Taxonomy classification? <strong>(GTDBtk)</strong></label>
              <select class="form-select" id="tax_class" name="tax_class">
                <option value="true" >True</option>
                <option value="false" selected>False</option>
              </select>
            </div>
            
            <div class="mb-3" id="gtdbtk_dbDiv">
              <label for="gtdbtk_data_path" class="form-label">GTDBtk database directory</label>
              <div class="input-group">
                <input
                type="text"
                class="form-control"
                id="filePicker"
                name="gtdbtk_data_path"
                placeholder="release220"
                webkitdirectory
                directory
                />
             
              </div>
            </div>

            <div class="mb-3">
              <label for="run_checkm" class="form-label">Genome completeness and phylogeney? <strong>(CheckM)</strong></label>
              <select class="form-select" id="run_checkm" name="run_checkm">
                <option value="true" >True</option>
                <option value="false" selected>False</option>
              </select>
            </div>
           
            <div class="mb-3" id="checkm_dbDiv">
              <label for="gtdbtk_data_path" class="form-label">CheckM database directory</label>
              <div class="input-group">
                <input
                type="text"
                class="form-control"
                id="filePicker"
                name="checkm_db"
                placeholder="checkm_db"
                webkitdirectory
                directory/>
             
              </div>
            </div>

            <hr>
            <div class="mb-3" style=" padding: 5px; background-color: rgb(0, 107, 139); color: rgb(255, 255, 255);">
              <label for="resume_run" class="form-label"><strong>Resume the run from interupted point?</strong> </label>
              <select class="form-select" id="resume_run" name="resume_run">
                <option value="true" selected>True</option>
                <option value="false" >False</option>
              </select>
            </div>

            <br>
          </div>
          
        </div>
      </div>

      <!-- Fixed Buttons Section -->
      <div class="bg-light py-3" style="position: absolute; bottom: 5px; left: 5px; right: 5px; z-index: 1000; border-top: 1px solid #ddd;">
        <div class="btn-group" style="justify-content: center; display: flex;">
          
            <button type="submit" class="btn btn-info" id="run-bt" name="action-assem" value="run">Run BactFlow</button>
            <button type="submit" style="border: solid 0.5px blue; color: red;" class="btn" name="action-assem" value="stop" id="stop-bt">Stop BactFlow</button>
            <button type="submit" class="btn btn-dark" name="action-assem" value="help" id="help-bt">Help!</button>
            
          
        </div>
        <br>
        <div  style="display: flex; justify-content: center;">
          <button type="button" style="background-color: burlywood;" onclick="checkForQuastReport()" class="btn" value="quast-rep" id="rep-bt">Show assembly report!</button>
        </div>
        
      </div> 
      
    </div>
  </div>
       <!-- Assembly Output Section -->
       <div class="col-md-9" style="display: block; width: 70%; height: 100vh; overflow-y: auto;">

        <div id="output-div" class="col-md-7" style="height: 50%; overflow-y: auto;  background-color: #f8f9fa; display: none; padding-top: 10px; width: 100%;">

        <h4 class="text-left mb-3"> Assembly progress</h4>
        <div id="output-bactflow" style="border: 1px solid rgb(105, 105, 105);
              padding: 10px;
              margin: 10px;
              border-radius: 5px;
              height:80%;
              width: 95%;
              overflow-y: auto;
              white-space: pre-wrap;
              background-color: #ffffff;
              color: darkslategrey;">
       
        </div>

        <div class="progress" style="width: 95%; margin-left: 5px; display: none;">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="75" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
        </div>
        <br>
        <hr style="width: 97%;">


      
      </div> 

      <!-- Quast Output Section -->
      <div id="quastDiv" class="col-md-7" style="overflow-y: auto;  background-color: #f8f9fa; display: none; padding-top: 1px; width: 100%;">
        <h4 class="text-left mb-3">Assembly stats: Quast</h4>
        <div id="output-quast" style="border: 1px solid rgb(105, 105, 105);
              padding: 10px;
              margin: 10px;
              border-radius: 5px;
              /* display: block; */
              height: 500px;
              width: 95%;
              overflow-y: auto;
              white-space: pre-wrap;
              background-color: #ffffff;
              color: darkslategrey;">
           
      
        </div>
        <br>
        <h4 class="text-left mb-3">Contig viewer: Quast</h4>
        <div id="contig-quast" style="border: 1px solid rgb(105, 105, 105);
              padding: 10px;
              margin: 10px;
              border-radius: 5px;
              /* display: none; */
              height: 500px;
              width: 95%;
              overflow-y: auto;
              white-space: pre-wrap;
              background-color: #ffffff;
              color: darkslategrey;">
           
       
        </div>
      </div>

       <!-- Annotation Output Section -->
       <div id="prokkaDiv" class="col-md-7" style="overflow-y: auto;  background-color: #f8f9fa; display: none; padding-top: 1px; width: 100%;">
        <h4 class="text-left mb-3">Abundance count table of annotated genomes across genomes: <strong>Prokka</strong></h4>
        <div id="output-quast" style="border: 1px solid rgb(105, 105, 105);
              padding: 10px;
              margin: 10px;
              border-radius: 5px;
              height: 500px;
              width: 95%;
              overflow-y: auto;
              white-space: pre-wrap;
              background-color: #ffffff;
              color: darkslategrey;">
           
      
        </div>
        <br>
        <h4 class="text-left mb-3">Prevalance count (contingency) table of annotated genomes across genomes: <strong>Prokka</strong></h4>
        <div id="contig-quast" style="border: 1px solid rgb(105, 105, 105);
              padding: 10px;
              margin: 10px;
              border-radius: 5px;
              height: 500px;
              width: 95%;
              overflow-y: auto;
              white-space: pre-wrap;
              background-color: #ffffff;
              color: darkslategrey;">
           
       
        </div>
      </div>

       </div> 
      
      
    
  </div>
</div>
</form>    



    <!-- scripts -->
      <script src="{{ url_for('static', filename='js/assem.js')}}"> </script>
  
      
{% endblock %}
